body {
  margin: 0;
  background: $color-dark;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-dark;
}

.container {
  .hero__image {
    img {
      position: relative;
      width: 100vw;
      height: 1200px;
      object-fit: cover;
    }

    &--shadow {
      width: 100vw;
      height: 1200px;
      position: absolute;
      top: 76%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to top, $color-dark, transparent 60%);
      z-index: 1;
    }

    .hero--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      &__title {
        letter-spacing: 2.5rem;
        text-shadow: 0px 10px 10px $color-dark;
      }

      &__subtitle {
        font-size: 2.5rem;
        margin: 0 0 40px 0;
        font-weight: $font-header;
        color: $color-light;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .main-nav {
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;

    a {
      padding: 0 60px;
      font-size: 30px;
      font-weight: $font-semibold;
    }
  }
}

section {
  display: none;

  &.active {
    display: block;
  }
}

.songs__wrapper {
  display: flex;
  justify-content: center;

  .categories-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    p {
      font-size: 18px;
    }
  }
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-main;
}

.footer {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 380px) {
  body {
    font-size: 12px;
    line-height: 1.7;
  }

  .container {
    .hero__image {
      img {
        height: 800px;
      }

      &--shadow {
        height: 800px;
        top: 60%;
      }

      .hero--text {
        left: 55%;

        &__title {
          font-size: 4em;
        }
        &__subtitle {
          font-size: 2rem;
        }
      }
    }

    .categories-wrapper {
      p {
        font-size: 15px;
      }
    }

    .green-audio-player {
      width: 320px;
    }
  }
}

@media (min-width: 380px) and (max-width: 420px) {

  .container {
    .hero__image {
      img {
        height: 700px;
      }

      &--shadow {
        height: 700px;
        top: 42%;
      }
      .hero--text {
        top: 40%;
        left: 55%;

        &__title {
          font-size: 4em;
        }
        &__subtitle {
          font-size: 2rem;
        }
      }
    }

    .categories-wrapper {
      p {
        font-size: 15px;
      }
    }

    .green-audio-player {
      width: 320px;
    }
  }
}
