body {
  margin: 0;
  background: $color-light;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-dark;
}

.container {
  margin: 0 auto;

  .hero__image {
    img {
      width: 100vw;
    }
  }
}
