h1 {
  font-family: $font-header;
  font-size: 14em;
  font-weight: $font-semibold;
  color: $color-light;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 1em;
  font-weight: $font-bold;
  color: $color-light;
  text-transform: uppercase;
}

h3 {
  font-size: 0.8em;
  font-weight: $font-bold;
  color: $color-light;
  text-transform: uppercase;
}

h4 {
  color: $color-light;
}

p {
  color: $color-light;
}

li {
  list-style-type: none;
}

a {
  color: $color-light;
  text-decoration: none;
}