.subscribe__image {
  position: relative;

  &--background {
    width: 100vw;
    max-height: 1020px;
    object-fit: cover;
  }
}

.subscribe--second-image {
  img {
    max-width: 25%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
}
